<button class="btn btn-primary" style="float:right" (click)="openAddLecturePage()">Add New Lecture</button>
<br/><br/><br/>
<div *ngIf="errorMessage"><h3>Error while geting Batches</h3></div>
<div *ngFor="let lecture of lectures" class="col-sm-3">
  <div class="panel panel-primary row">
    <div class="panel-heading">{{lecture.name}}</div>
    <div class="panel-body">
      <h4 style="color:black"><span style="color:brown">Teacher Name : </span>{{lecture.teacher.name}}</h4>
      <h4 style="color:black"> <span style="color:brown">Batch Name:</span>{{lecture.batch.name}}</h4>
      <h4 style="color:black"> <span style="color:brown">Subject Name:</span>{{lecture.subject.name}}</h4>
    </div>
  </div>
</div>